{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'onlinecourse/course.css' %}">
</head>
<body>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <h2>Login</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/accounts/register/">Register here</a></p>

{% endif %}
</body>
</html>